@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.navbar{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background: #335C81;
  height: 100px;
  width: 100%;
}

.button__benzacoin {
  cursor: pointer;
}

.icon-logo{
  display: flex;
  margin-left: 20px;
  background: #335C81;
}

.icon{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

a {
  text-decoration: none;
}

.nav-icon{
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.logo{
  display: flex;
  align-items: center;
  background: #335C81;
}

.nav__container {
  display: flex;
  margin: auto 30px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 4px;
}

.label {
  color: white;
}

.item {
  display: flex;
  padding: 10px;

}

.items {
  border-radius: 4px;
  background: #1B2845;
}

.items:hover {
  background: #0b111d;
}

ul{
  list-style: none;
}

p{
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #1C2122;
  border-radius: 21px;
  position: relative;
  border-radius: 10px;
  border: 2px solid black;
  background: rgb(9,81,179);
  background: linear-gradient(196deg, rgb(94, 147, 221) 0%, rgb(71, 92, 163) 87%);
}



