<div class="navbar">
  <div class="icon-logo">
    <div class="icon">
      <a href="#">
        <img class="nav-icon" src="./../../../assets/il_570xN.1602252282_pz3b.jpg">
      </a>
    </div>
    <div class="logo">
      <p class="button__benzacoin" (click)="onClickBenzaCoin()">BenzaCoin</p>
    </div>
  </div>

  <nav class="nav__container">
    <ul class="nav-menu">
      <li class="items">
        <a href="#" class="item">
         <span class="label">Home</span>
        </a>
      </li>
      <li class="items">
        <a href="/buy" class="item">
          <span class="label">Buy</span>
        </a>
      </li>
      <li class="items">
        <a href="#" class="item">
          <span class="label">Info</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
