@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container__main {
  display: flex;
  flex-direction: column;
  position: relative;
}

body{
  border: none;
  padding: none;
  background-color: #1C2122;
  font-family: 'Noto Sans', sans-serif;
}

.button {
  width: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: white;
}

ul{
  list-style: none;
}

p{
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #1C2122;
  border-radius: 21px;
  position: relative;
  border-radius: 10px;
  border: 2px solid rgba(34, 82, 2, 0.637);
  background: rgb(9,81,179);
  background: linear-gradient(196deg, rgb(94, 147, 221) 0%, rgb(71, 92, 163) 87%);
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0px;
}

.container__items {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
}

.description {
  display: flex;
  padding: 15px 0px;
  color: white;
}

.container {
  display: flex;
  margin-left: 22px;
}

.col-sx{
  display: flex;
  background: rgba(133, 166, 238, 0.5);
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

img{
  height: 4em;
  width: 4em;
}


/* Modal */

.container__modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 41vh;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgb(184, 197, 197);
}

.button__modal {
  border: 0;
  padding: 10px;
  cursor: pointer;
}

.label__span {
  font-weight: bold;
  font-size: 18px;
}

.button__modal:focus {
  outline: none;
}

.button__modal:hover {
  background-color: beige;
}

h3 {
  padding: 18px;
}
