<div class="container__main">

  <!-- NavBar -->
  <app-navbar></app-navbar>

  <div class="hero">
    <div class="container">
      <div class="col-sx">
        <div style="display: flex; flex-direction: column; width: 90%; margin: 0 auto;">
          <h1>BenzaCoin</h1>
          <p>A new Cardano Token that will be the "fuel" for a new ecosystem</p>
          <a href="#">
            <p class="button" (click)="onClickBuy()">Buy</p>
          </a>
        </div>
      </div>
      <div class="col-dx">
        <img class="nav-icon" src="./../../../assets/il_570xN.1602252282_pz3b.jpg">
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="container__modal">
  <div class="modal">
    <h3>Non hai installato Metamask. Clicca qui per installarlo</h3>
    <button (click)="onClickButtonModal()" class="button__modal">
      <span class="label__span">Installa</span>
    </button>
  </div>
</div>
